body {
    /* Format */
    flex: auto;
    margin: auto;
    border: none;

    /* Font */
    font-family: "Figtree", serif;
    font-size: 48px;

    /* Text */
    text-wrap: wrap;
    text-align: left;
}

div[type="title"] {
    /* Position */
    position: relative;

    /* Text */
    text-wrap: nowrap;

    /* Color */
    color: rgba(0, 0, 0, .5);

    /* Margin */
    margin: 0px;

    /* Font */
    font-size: 48px;
    font-weight: normal;
}

@keyframes title {
    0% {
        color: rgba(0, 0, 0, 0);
        left: 0px;
        top: -32px;
    }
    100% {
        color: rgba(0, 0, 0, .5);
        left: 0px;
        top: 0px;
    }
}

.float-container {
    border: 3px solid #fff;

    /* margin */
    margin-left: 10px;
    margin-top: 10px;
}

.float-child {
    width: 50%;
    float: left;
}

#title1 {
    /* Size */
    width: 140px;
    height: 64px;

    /* Animation */
    animation-name: title;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

#title2 {
    /* Animation */
    animation-name: title;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
