* {
    /* Format */
    flex: auto;
    margin: auto;
    border: none;

    /* Font */
    font-family: "Figtree", serif;

    /* Text */
    text-wrap: wrap;
    text-align: left;
}

.link{
    text-decoration: none; 
    color:#1e90ff;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: black; 
}

::-webkit-scrollbar-thumb {
	background: rgba(255,255,255,.6); 
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(255,255,255,.4); 
}