* {
    flex: auto;
    margin: auto;
    border: none;
    font-family: "Figtree", serif;
    text-wrap: wrap;
    text-align: left;
    scroll-behavior: smooth;
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes repeating-fade {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.text{
    font-size: 48px;
    color: white;
}

.title {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title-center {
    text-align: left;
    padding-left: 20vw;
    width: 25vw;
    font-size: 48px;
    color: white;
    animation: fade 2.5s 1;
    margin-top: 40vh;
}

#scroll-down {
    text-align: center;
    position: absolute;
    width: 100%;
    font-size: 24px;
    animation: repeating-fade 4s 4s infinite both;
}

.imageBox {
    position: relative;
    float: left;
}

.imageBox .hoverImg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.imageBox:hover .hoverImg {
    display: block;
}

.container {
    position: absolute;
    object-fit: cover;
    overflow: hidden;
    z-index: 4;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 1.5s ease, transform 1.5s ease;
    background-color: rgb(250,188,162);
    transform: translateY(-100%);
}

.container:hover .overlay {
    opacity: 1;
    transform: translateY(0);
}

.text {
    font-size: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .4);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, .2);
}

.in-view-arrow {
    animation: repeating-fade 4s 4s infinite both;
}

.out-view-arrow {
    opacity: 0;
}

.triangle-left, .triangle-right {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    top: 55vh;
}

.triangle-left {
    right: 0;
    border-top: 100vh solid transparent;
    border-right: 130vw solid black;
}

.triangle-right {
    left: 0;
    border-top: 100vh solid transparent;
    border-left: 130vw solid black;
}