* {
    /* Format */
    flex: auto;
    margin: auto;
    border: none;

    /* Font */
    font-family: "Figtree", serif;

    /* Text */
    text-wrap: wrap;
    text-align: left;

    scroll-behavior: smooth;
}

/* CSS for fading in and out */
.faded {
  opacity: 0;
}

.visible {
  opacity: 1;
}


#scrollToTopButton {
  transition: opacity 0.5s ease;
}


#scrollToTopButton.show {
  opacity: 1;
}



.archive-button{
  display: flex; align-items: center; justify-content: flex-start; text-align: left; margin-left: 10vw; margin-right: 10vw; width: 80vw; margin-top: 24px; margin-bottom: 24px; padding-left: 24px; padding-bottom: 24px; padding-right: 24px;
}


.link{
  text-decoration: none; color:#1e90ff;
}

.center {
  position: absolute; top: 50%;transform: translate(0, -50%);width: 100%;text-align: center;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: black; 
}

::-webkit-scrollbar-thumb {
	background: rgba(255,255,255,.6); 
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(255,255,255,.4); 
}

.no-scroll {
  overflow: hidden;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: black;
  z-index: 999;
}

.selected-button{
  text-align: center; font-size: 16px; height: 48px; background-color: rgba(0,0,0,.25); color: white;
}

.selected-button-mobile{
  background-color: transparent; color: black; font-size: 42px; position: absolute; top: 156px;
}

.button{
  text-align: center; height: 48px; background-color: rgba(0,0,0,0);
}

.button-mobile{
  background-color: white; color: rgba(0,0,0,.25); font-size: 42px; position: absolute; top: 156px;
}

.button-link{
  text-decoration: none; color: black; font-size: 16px; padding-top: 16px; padding-bottom: 16px;
}

.button-link-mobile{
  text-decoration: none; color: rgba(0,0,0,.25); font-size: 42px; padding-top: 16px; padding-bottom: 16px;
}

.subscribe{
  position: absolute; right: 38px; top: 21px; height: 40px; width: auto; background-color: transparent; color: black; font-size: 20px; border-radius: 4px; padding-left: 20px; padding-right: 20px; outline:2px solid rgba(191,191,191,255);
}

.subscribe:hover{
  background-color: rgba(191,191,191,255); color: white;
}

.subscribe-mobile{
  position: absolute; right: 64px; top: 48px; height: 64px; width: auto; background-color: rgba(0,0,0,.25); color: white; font-size: 36px; border-radius: 4px; padding-left: 20px; padding-right: 20px; outline:2px solid rgba(191,191,191,255);
}

.title{
  width: 100%; text-align: center; font-size: 30px; background-color: transparent; color: rgba(0,0,0,1); margin-top: 22px;
}

.title-mobile{
  font-size: 48px; top: 48px; left: 144px; position: absolute; color: black;
}

.home{
  position: absolute; left: 20px; top: 19px; background-color: transparent;color: white; border-radius: 4px;  background: url('photos/title.png') center no-repeat; background-size: 175%; height: 44px; width: 44px;
}

.home-mobile{
  border-radius: 4px; background: url('photos/title.png') center no-repeat; background-size: 175%;  width: 84px; height: 84px; top:32px; left: 32px; position: absolute;
}

#loading-screen {
  width: 100%;height: 100%;background: #fff;display: flex;justify-content: center; align-items: center; font-size: 48px;  background-color: white;  color: black;z-index: 999;position: absolute; top:0;
}

.entry{
  max-width: 900px; text-align: center; margin-bottom: 240px;
}

h1{
  font-size: 36px; padding-bottom: 10px; padding-top: 10px; text-decoration: none; font-weight: normal;
}

h2{
  text-decoration: none; font-size: 18px; color: rgba(0,0,0,.75); padding-top: 12px; font-weight: normal;
}

p{
  font-size: 24px; color: rgba(0,0,0,.5);
}

img{ 
  width: 100%; padding-top: 30px;
}

a{
  text-decoration: none; color: #1e90ff; 
}

i{
  color: rgba(0,0,0,.5);
}

#content {
  width: 100%;
  box-sizing: border-box;
}

#entries, #entries-mobile{
  width: 100%;
  box-sizing: border-box;
}
