* {
    /* Format */
    margin: auto;
    border: none;

    /* Font */
    font-family: "Figtree", serif;

    /* Text */
    text-wrap: wrap;
    text-align: left;
}

.title {
    text-align: center;
    font-size: 48px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.header {
    font-size: 36px;
    color: rgba(0,0,0,.5);
    margin: 0 20px;
}

.text {
    font-size: 24px;
    margin: 10px 20px 0 20px;
    color: rgba(0,0,0,.3);
}

.project {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 80vw;

}

.project img {
    width: 400px; 
    max-height: 300px;
    margin-left: 20px;
    margin-right: 20px;
}
.project video {
    width: 400px; 
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
}
.project iframe {
    width: 400px; 
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
}

.project div {
    flex-grow: 1; /* Allow the text container to grow */
}

.link {
    text-decoration: none;
    color: #1e90ff;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,.6);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,.4);
}
