* {
    /* Format */
    margin: auto;
    border: none;

    /* Font */
    font-family: "Figtree", serif;

    /* Text */
    text-wrap: wrap;
    text-align: left;
}

.title {
    text-align: center;
    font-size: 48px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    font-size: 36px;
    color: rgba(0,0,0,.5);
    margin: 0 20px;
}

.text {
    font-size: 24px;
    margin: 10px 20px 0 20px;
    color: rgba(0,0,0,.3);
}

.project {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80vw;
}

.project:nth-child(odd) {
    flex-direction: row; /* Default: image on left, text on right */
}

.project:nth-child(even) {
    flex-direction: row-reverse; /* Image on right, text on left */
}

.project img {
    width: 200px; /* Adjust size as needed */
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.project div {
    flex-grow: 1; /* Allow the text container to grow */
}

.link {
    text-decoration: none;
    color: #1e90ff;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,.6);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,.4);
}
